@font-face {
  font-family: 'MinigapLight';
  src: local('MinigapLight'), url('./fonts/MinigapLight.woff') format('woff'),
    url('./fonts/MinigapLight.woff2') format('woff2');
}

@font-face {
  font-family: 'MinigapBold';
  src: local('MinigapBold'), url('./fonts/MinigapBold.woff') format('woff'),
    url('./fonts/MinigapBold.woff2') format('woff2');
}

body {
  font-family: 'MinigapLight';
}
